nav {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.mycss-navbar-brand-text {
    position: relative;
    top: 0.6em;
    right: 1.2em;
}

.mycss-nav-item:hover {
    cursor: pointer;
}

.mycss-dropdown-item {
    color: white;
}

.mycss-dropdown-item:hover {
    color: black
}

.mycss-uitloggen {
    background-color: #212529;
    border: none;
    color: red;
}

.mycss-uitloggen-parent:hover {
    .mycss-uitloggen {
        background: white;
    }
}