.all_stadions {
    display: flex;
    flex-wrap: wrap;
}

.single_stadion {
    margin-left: 12.5%;
    margin-right: 11.5%;
    background-color: rgb(183, 0, 0);

}

.info_text {
    font-size: 2vw;
}

body {
    background-color: darkred;
    font-family: consolas;
}